*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    font: 1.6rem Helvetica, Arial;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color:#f08040
}
.grid-container{
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}
header{
    grid-area: header;
    background-color: #203040;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
header a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
header a:hover{
    color: orange;
}
.brand a{
    font-size: 3rem;
}
footer{
    background-color: #203040;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
     
}
/* Products */
.products{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.products li{
    flex: 0 1 30rem;
    margin: 1rem;
    margin-bottom: 0;
    height: 42rem;
    border-top: 0.2rem #e0e0e0 solid
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.product img{
    max-height: 26rem;
    max-width: 22rem;
    margin-top: 2rem;
}
.product-name{
    line-height: 2.2rem;
}
.product-brand{
    font-size: 1.2rem;
    color: #808080;
}
.product-price{
    font-size: 2rem ;
}

form.search-form{
    display: flex;
    flex-wrap: wrap;

    width: 250px;
}

form.search-form input[type='text'] {
    /* float: left; */
    /* width: 80%; */
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
form.search-form button {
    /* float: left; */
    width: 60px;
    background: #f0c040;

    border-left: none;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
form.search-form button:hover {
    background: #075493;
}
/* Clear floats */
form.search-form::after {
    content: '';
    clear: both;
    display: table;
}